@media only screen and (max-width: 1200px){
    .services .container,.news-block{
       justify-content: space-around;
    }
    .preview{
        justify-content: center;
    }
    .preview-wrap>*{
        text-align: center;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 860px) {
    .phone{display: none}
}
@media only screen and (max-width: 768px) {
    .header{
        display: block;
    }
    .footer .container{
        flex-direction: column;
        align-items: center;
    }
    .footer-block-1{
        max-width: 100%;
    }
    .logo,.wrap-menu{text-align: center}

}
@media only screen and (max-width: 375px){
    .container{
        padding: 0 10px;
    }
    .tool{
        min-width: 300px;
    }
    .news-image{
        width: auto;
        height: auto;
    }
    .news-content{width: auto}
}