.container{
    margin:0 auto;
    max-width:1200px;
    padding: 0 15px;
}
.header{
    align-items: center;
    color:#313131;
    display: flex;
    justify-content: space-between;
}
.jumbotron{
    background: #484848;
    color:#fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.jumbotron .container{
    padding: 100px 15px 115px 15px;
}
.jumbotron h1{
    font-size:56px;
    font-weight:900;
    padding:50px 0 40px 0;
    text-align: center;
}
.jumbotron p{
    font-weight: 300;
    text-align: center;
    font-size:20px;
    line-height:1.6;
}
.logo{
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    padding:15px 0;
}
.header .menu{
    display: inline-block;
}
.header .menu li{
    font-size: 14px;
    padding: 25px 3px;
    display: inline-block;
    text-transform: uppercase;
}
.header .menu a{
    padding:25px 13px;
}
.header .menu a:hover{
    background: #484848;
    color:#fff;
}
.phone{
    display: inline-block;
    margin-left: 55px;
    font-size: 16px;
    font-weight: 900;
}
.services .container{
    display: flex;
    justify-content: space-between;
    padding:60px 5px 80px 5px;
    flex-wrap: wrap;
}
.services{
    background: #eee;
}
.services h2{
    color:#3498db;
    font-size:21px;
    font-weight: 900;
    margin-top: 15px;
}
.services p{
    text-align: justify;
    margin-top: 25px;
    color: #313131;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.services article{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:290px;
    padding:30px 10px 0 10px;
}

.svg-container{
    width:112px;
    height: 112px;
    border-radius: 50%;
    background: #3498db;
    position: relative;
}
.svg-container img{
    position: absolute;
}
.icon-1 img{
    top:37px;
    left:35px;
}
.icon-2 img{
    top:35px;
    left:33px;
}
.icon-3 img{
    top:35px;
    left:36px;
}
.icon-4 img{
    top:35px;
    left:38px;
}
.about{
    background: #e5e5e5;
}
.preview{
    padding: 60px 0 30px 0;
}
.tools{
    padding:10px 0 90px 0;
}
.preview,.tools{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.preview-wrap span{
    font-size:14px;
    font-weight:300;
    display: block;
    margin-top: 5px;
}
.preview h2{
    text-transform: uppercase;
    font-size:42px;
    font-weight:900;
    margin-top: 34px;
}
.preview p{
    font-size:18px;
    font-weight:300;
    margin: 26px 0 30px 0;
    line-height:27px;
}
.preview-wrap{
    max-width:476px;
    padding-top: 30px;
}
.preview-image{
    padding-top: 30px;
}
.tool{
    flex: 1;
    background: #fff;
    box-sizing: border-box;
    padding: 35px 0 186px 0;
    min-width: 350px;
}
.tool.elite{
    background: #000;
    color:#fff;
}
.tool h3,.tool span{
    font-weight: 900;
    text-align: center;
}
.tool span{
    font-size:12px;
    display: block;
}
.tool h3{
    font-size: 32px;
    margin-top: 5px;
}
.view-more{
    display: block;
    text-align: center;
    line-height: 50px;
    width: 270px;
    height: 50px;
    background: #fff;
    font-size:16px;
    font-weight:600;
    text-transform: uppercase;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.view-more:hover{
    color:#fff;
    background: #000;
}
.news{
    background: #eee;
}
.news-block article{
    padding-top: 20px;
}
.news-block{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 90px 0;
    flex-wrap: wrap;
}
.news-image{
    margin-top: 25px;
    position: relative;
    width: 372px;
    height: 140px;
}
.news-image span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 135px;
    height: 25px;
    background: #888;
    color:#fff;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    line-height:25px;
}
.news-content{
    background: #fff;
    width: 372px;
}
.news-wrap h4,.news-wrap a{
    display: inline-block;
}
.news-wrap{
    padding-bottom:15px;
    position: relative;
}
.news-wrap::after{
    content: '';
    height: 5px;
    width: 70px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.news-wrap h4{
    font-size: 18px;
    font-weight: 900;
    padding-right: 18px;
}
.news-wrap a{
    font-size: 12px;
    font-weight: 600;
    color:#626262;
    border-left: 2px solid #fff;
    padding-left:8px;
}
.news-wrap a:hover{
    color:#3498db;
}
.news-content{
    padding: 26px 20px;
    box-sizing: border-box;
}
.news-content h5{
    color:#3498db;
    font-size: 18px;
    font-weight:900;
    margin-bottom: 10px;
}
.news-content p{
    color:#313131;
    font-size: 14px;
    text-align: justify;
    line-height:22px;
}
.news-content a:hover{
    color:#3498db;
}

.footer{
    background: #c9c9c9;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    padding: 60px 15px 95px 15px;
}
.footer-block-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.contact h4 {
    font-size: 18px;
    margin-bottom: 30px;
}
.contact p{
    font-size: 14px;
    color:#626262;
}
.contact p span{
    display: block;
    margin-top: 25px;
}
.footer-menu{
    font-size: 14px;
    color: #626262;
    margin:0 20px 0 110px;
}
.footer-menu li{
    padding-bottom: 18px;
}
.footer-menu li a:hover{
    color: #fff;
}
.footer-block-2 label{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight:600;
    margin-bottom: 8px;
}
.footer-block-2 input{
    border:none;
    padding: 0;
    height: 30px;
    width:272px;
    margin:6px 8px 6px 0;
}
.footer-block-2 button{
    height: 30px;
    width: 90px;
    background: #626262;
    color:#fff;
    text-transform: uppercase;
    margin: 6px 0 ;
}
.footer-block-2 button:hover{
    background: #3498DB;
}
.subscribe-block{
    margin-bottom: 35px;
}
.subscribe-block form{
    font-size: 12px;
    position: relative;
}
.follow-block span{
    text-transform: uppercase;
    font-size: 14px;
    font-weight:600;
    display: block;
}
.social{
    margin-top: 10px;
}
.social div{
    display: inline-block;
}
.email-alert{
    display: block;
    position: absolute;;
}
.red{
    color:red;
}
.green{
    color:green;
}
button:disabled{
    opacity: 0.2;
}
.subscribe-done{
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    width:372px;
    height: 42px;
    line-height: 36px;
    margin-bottom: 30px;
}
.burger{
    width: 30px;
    height: 30px;
    background: url("images/if_menu-alt_134216.svg") no-repeat;
    position: absolute;
    top:15px;
    right: 15px;
    display: none;
}

.close-icon{
    background: url("images/close-icon.svg") no-repeat;
    background-size: 30px 30px;
}
